

.my-container{
    width: 90%;
    margin 0px auto;
    font-size:18px;
  font-weight:400;
  max-width:100%;
  max-height:100%;
  background:#efefef;
  background-size:cover;
  font-family: 'Poiret One', cursive;
  text-align: center; 
    
    
} 

.titlewrapper{text-align: center; 
    font-family: 'Pacifico', sans-serif;
    color:#f44336;
} 

.search-button{
  width:20%; 
  margin:0 auto;
  padding:20px;
  border:none;
  outline:none;
  background:#f44336;  
  font-size:18;
  color:#fff;
  transition:all .4s ease; 
  font-family: 'Fjalla One', sans-serif;
  opacity: .7;
  text-align: center; 
 
    
    
    color: orange; 
} 

 
} 

h1{
  font-family: 'Pacifico', sans-serif;
  display:block;
  text-align:center;
  font-size:20px;
  font-weight:900px;
  margin-bottom:30px;
  color:#f44336;
  background-color: white;
  opacity: .3;

}   

h2{
    color:#f44336;
    font-family: 'Pacifico'; 
} 
h3{color: orange;
    font-family: sans-serif; 
} 

p{color: black; 
} 